html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url('../images/bgMain.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;

    p {
        color: white;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);
    height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.navbar .nav-link {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}

.navbar .nav-login {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.navbar .nav-link li a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease-in-out;

}

.navbar .nav-link li a:hover {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;
}

.nav-link li a:focus {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;
}

.navbar .nav-login li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease-in-out;
}

.navbar .nav-login li a:hover {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;

}

.navbar .nav-login li a:focus {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;

}



/* recipe page*/
.tap-text {
    color: white;
    margin-left: 100px;
}

.container-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 40px;
    width: 100%;
    z-index: 999;
    margin-top: 20px;
}

.search-input {
    border-radius: 50px;
    height: 40px;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    gap: 10px;

}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 0 200px;
    box-sizing: border-box;
}

.card {
    width: min-content;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(46, 47, 48, 0.685);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* เพิ่ม transition เพื่อให้เอฟเฟกต์นุ่มนวล */
}



.card:hover {
    transform: translateY(-5px);
    /* เลื่อน Card ขึ้น 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* ทำให้เงาเข้มขึ้นและกว้างขึ้น */
}

.card img {
    width: 225px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    object-fit: cover;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);

}

.author {
    display: flex;
    justify-content: left;
    align-items: center;
}

.author .image_author {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px 0 0;

}
.view-like-box{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}

.like {
    display: flex;
    justify-content: right;
    align-items: center;
}

.like .image-like {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;

}

.recipe-title {
    margin: 5px 0 5px 0;
}






@media (min-width: 768px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        padding: 0;
        margin: auto;
        
    }

    .container-recipe {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }


}