html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('../images/bgMain.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;

    p {
        color: white;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);
    height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.navbar .nav-link {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}

.navbar .nav-login {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.navbar .nav-link li a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease-in-out;

}

.navbar .nav-link li a:hover {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;
}

.nav-link li a:focus {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;
}

.navbar .nav-login li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease-in-out;
}

.navbar .nav-login li a:hover {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;

}

.navbar .nav-login li a:focus {
    color: #FFC15E;
    text-decoration: underline #FFC15E;
    text-underline-offset: 20px;

}



/* recipe page*/
.container-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 40px;
    width: 100%;
    z-index: 999;
}

.search-input {
    border-radius: 50px;
    height: 40px;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    gap: 10px;

}